@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-Bold.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-Italic.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-MediumItalic.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-Medium.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-BoldItalic.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-LightItalic.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-Light.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-SemiBold.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-Regular.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "charkra-petch";
  src: url("../_media/fnt/ChakraPetch-SemiBoldItalic.woff2") format("woff2"),
    url("../_media/fnt/ChakraPetch-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
